asn1crypto==1.2.0
beautifulsoup4==4.8.1
cffi==1.13.1
cryptography==2.6.1
discord.py==1.2.5
mkl-fft==1.0.10
mkl-random==1.0.2
olefile==0.46
Pillow==6.2.1
pycparser==2.19
pyOpenSSL==19.0.0
pyrez==1.1.0.1
PySocks==1.6.8
soupsieve==1.9.4
win-inet-pton==1.1.0
wincertstore==0.2
